article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

.col-lg:hover + .zindex{
  opacity: 0;
}

.white{
    color: white; 
}

.black{
    color: black;
}

main{
	z-index: 90;
}

ul{
	margin: 0;
}

.frame{
	z-index: 95 !important;
}

:root {
	font-size: 12px;
}

html, body {
	height: 100%;
}

body {
	--color-text: #262523;
    --color-bg: #efece5;
    --color-link: #eca324;
    --color-link-hover: #F54B26;
    --color-title: #ffffff;
    --img-maxwidth: 250px;
    --blendmode-title: difference;
    --filter-img: none;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: quiroh, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: opacity 500ms
}

.demo-2 {
	--color-text: #ffffff;
    --color-bg: #151413;
    --color-link: #d02d55;
    --color-link-hover: #ffffff;
    --color-title: #232323;
}

.demo-3 {
	--color-text: #320065;
    --color-bg: #d02d55;
    --color-link: #ffffff;
    --color-link-hover: #000000;
    --color-title: #320065;
    --filter-img: sepia(1) saturate(1) contrast(180%) brightness(80%) hue-rotate(295deg);
}

.demo-4 {
	--color-text: #000000;
    --color-bg: #e0fafb;
    --color-link: #ff3a7e;
    --color-link-hover: #000000;
    --color-title: #f9dae5;
}

.demo-5 {
	--color-text: #ffffff;
    --color-bg: #485656;
    --color-link: #000000;
    --color-link-hover: #F54B26;
    --color-title: #444c4c;
    --filter-img: hue-rotate(70deg) contrast(70%);
}

.demo-6 {
	--color-text: #fff;
    --color-bg: #000;
    --color-link: #f0f0f0;
    --color-link-hover: #F54B26;
    --color-title: #fff;
    --img-maxwidth: none;
    --blendmode-title: overlay;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
	transition: opacity 500ms
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
    top: 50%;
    width: 100%;
    height: 10%;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    opacity: 1;
	background: #000 url('../img3/preloader.gif') no-repeat center center;
	transition: opacity 500ms
}

.signature{
	width: 
}

/*s dksadk */

.aside{
	width: 10em;
}

.intro__90 {
    bottom: 0;
    /* padding: 0.8em; */
    padding-left: 0.5em;
    width: 2.9em;
    left: -2px;
    padding: 0;
    position: absolute;
    z-index: 98;
    margin: 0;
    display: inline-flex !important;
    height: 100vh;
    opacity: 1;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
    transition: transform 0.6s, opacity 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}


.intro__90__title {
    left: 0em;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    text-align: center;
    background: none;
    color: white;
    width: 0;
    transform-origin: -9px 9px;
    transform: rotate(
-90deg
);
    white-space: nowrap;

    font-size: 15vh;
    text-transform: uppercase;
    font-family: "gotham", sans;
    line-height: 0;
    font-weight: 800;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.menu__container {
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    position: relative;
    right: 1.6em;
    justify-content: center;
    align-items: center;
}

.menu-aside {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transform: rotate(-90deg) !important;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 94vh;
    height: 10px;
    top: auto;
    position: absolute;
    padding: 0;
}

.menu-aside li .number{
	font-size: 6px !important;
    text-transform: lowercase;
    bottom: 6px;
    position: relative;
}

.menu-aside ul{
	display: inline;
	text-decoration: none;
	list-style: none;
}

.menu-aside li span {
    font-size: 13.2px;
    font-family: made_outer_sans !important;
  
    font-weight: 400 !important;
}

.menu-aside li a {
    color: white;
    text-decoration: underline;
}

.menu-aside li {
    margin: 0 auto;
    min-width: auto;
}

.menu-aside li:first-child {
    margin: 0 0 0 0;
}

.menu-aside li:last-child{
	margin: 0 0 0 0;
}


.fondo {
    width: 89.5%;
    opacity: 0.6;
}

.frame__back{
	z-index: 99;
}

.menu-mobile{
	display: none;
}

header{
	display: none;
}

@media screen and (max-width: 580px) {

	.message {
	    padding: 5px 0;
	    position: relative !important;
	    top: -5px !important;
	}

	.footer {
	    position: absolute;
	    bottom: 12% !important;
	}

	.frame{
		height: 85% !important;
	}

	.aside{
		display: none;
	}

	.frame__back{
		display: none !important;
	}

	header{
		width:100%; 
		background:black; 
		height:60px; 
		line-height:60px;
	}
	.hamburger{
	  background:none;
	  position:absolute;
	  top:0;
	  right:0;
	  line-height:45px;
	  padding:5px 15px 0px 15px;
	  color:#999;
	  border:0;
	  font-size:1.4em;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index:10000000000000;
	}
	.cross{
	  background:none;
	  position:absolute;
	  top:0px;
	  right:0;
	  padding:7px 15px 0px 15px;
	  color:#999;
	  border:0;
	  font-size:3em;
	  line-height:65px;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index:10000000000000;
	}

	.signature{
		display: none;
	}

	span {
	    width: 100%;
	    display: block;
	}

	a{
		text-decoration: underline !important;
	}

	.menu-mobile{display: none;z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
	.menu-mobile ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
	.menu-mobile li {display: block; font-family: 'made_outer_sans'; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
	.menu-mobile li:hover{display: block; background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
	.menu-mobile ul li a { text-decoration:none;  margin: 0px; color:#666;}
	.menu-mobile ul li a:hover {  color: #666; text-decoration:none;}
	.menu-mobile a{text-decoration:none; color:#666;}
	.menu-mobile a:hover{text-decoration:none; color:#666;}

	.glyphicon-home{
	  color:white; 
	  font-size:1.5em; 
	  margin-top:5px; 
	  margin:0 auto;
	}
	header{display:inline-block; font-size:12px;}
	a{color:#336699;}

}




@media screen and (max-width: 850px) {
	.circle-mark{
		width: 50px !important;
	}

	.frame {
	    right: 0;
	    left: 0;
	    margin: 0 auto;
	}
	.content{
		display: none !important;
	}
}



@media screen and (max-width: 1024px) and (min-height: 1366px)  {
	.footer__section {
	    width: 24% !important;
	}

	.large {
	    width: 22% !important;
	}

	.footer__section {
	    margin: 0 auto;
	}

	.menu-aside li span {
	    font-size: 0.7em;
	}

	.menu__container {
	    right: -1em;
	}

	.menu-aside{
		width: 94vh;
	}

	.intro__90 {
		left: 30px;
	}
	.footer{
	    bottom: 1em !important;
	    padding-left: 15em !important;
	}

}

@media (min-height: 850px) and (min-width: 1366px) {
	.intro__90 {
    	left: 5px;
    	width: 1.5em;
	}

	.menu__container {
	    right: 0.2em;
	}

	.menu-aside {
    	width: 94vh;
	}
}

@media (min-height: 1200px) and (min-width: 1366px) {

	.intro__90 {
    	left: 2em !important;
	}

	.menu-aside {
    	left: -46.5vh !important;
	}
	.menu__container {
    	right: -0.8em;
	}
}

@media screen and (max-width: 850px) {

	.appear{
    	visibility: visible;
    	height: 100vh !important;
	}
	.frame {
	    height: 96.5vh;
	    align-items: center;
	    display: grid !important;
	}
	.footer__section {
	    width: 100% !important;
	    padding-bottom: 6vh;
	}

	.frame__back{
		text-align: center;
	    margin: 0 auto;
	    position: absolute;
	    margin-right: auto;
	    font-size: 0.8em;
	    margin-left: auto;
	    display: block;
	    top: 2.2em;
	    right: 0;
	    text-decoration: underline;
	    text-transform: uppercase;
	    font-family: made_outer_sans;
	    width: 15em;
	    left: 0;
	}

	.frame img {
	    width: 1em !important;
	    position: relative;
	    top: 2px !important;
	    margin-right: 4px;
	}

	.footer {
	    padding-left: 0em !important;
	}

	.large{
		width: 100%;
	}
	.frame {
	    height: 96.5vh;
	    align-items: center;
	    /* width: 92vw; */
	    display: flex;
	}
	.message {
		background-color: white;
	    color: black;
	    top: 10px;
	    margin: 0 auto;
	    text-align: center;
	}

	.intro__90 {
	    left: 35px;
	}

	.frame img {
	    width: 2.5%;
	    position: relative;
	    top: 6px;
	    margin-right: 4px;
	}

}


@media screen and (max-width: 768px) and (max-height: 1024px){

	.footer {
	    padding-left: 0 !important;
	    bottom: unset !important;
	}

	.menu__container {
    	right: -2.4em;
    }
	.menu-aside {
		width: 90vw !important;
	    position: absolute !important;
	    top: 22em !important;
	    left: 0;
	    right: 0;
	    text-align: center;
	    margin: 0 auto;
	    margin-right: auto;
	    margin-left: auto;
	    transform: rotate(-0deg);
	}

	.intro__90__title {
	    transform: rotate(0deg);
	}

	.frame__back {
	    top: 24em !important;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    position: absolute;
	}

}

@media screen and (max-width: 900px){
		li {
	    text-align: center;
	    display: block !important;
	    margin: 0 !important;
	    padding: 20px 10vw !important;
	}
}

@media screen and (max-width: 801px){
	.intro__90__title {
	    left: 0em;
	    right: 0;
	    display: flex;
	    width: 0;
	    transform-origin: -9px 9px;
	    transform: rotate(0deg);
	    white-space: nowrap;
	    letter-spacing: -1.7px;
	    font-size: 15vw;
	    margin: 0;
	}

	.intro__90 {
	    top: 2em;
	    bottom: unset;
	    padding-left: 0.5em;
	    width: 100%;
	    left: -2px;
	    height: 11vh;
	}
	.footer {
	    position: absolute;
	    bottom: 5vh !important;
	}
	.footer__section {
	    padding-bottom: 3vh;
	}
		.frame__back {
	    top: 12em;
	    text-decoration: underline;
	}
	h2{
		margin: 0;
	}
	h3{
		margin: 5px;
	}
	.menu-aside {
	    transform: rotate(0deg) !important;
	}
	.menu__container {
	    right: 0;
	    height: 0;
	}
	.menu-aside {
	    width: 90vw;
	    position: absolute;
	    top: 14em;
	}
	.message{
		padding: 5px 0;
	}
	.frame img {
	    top: 4px;
	}
}

@media screen and (max-width: 600px) and (max-height: 800px){

	.menu-aside {
	    width: 90vw;
	    position: absolute;
	    top: 12em !important;
	}
	.frame__back {
	    top: 16em !important;
	}
}

@media screen and (max-width: 800px) and (max-height: 600px){

	.menu-aside {
	    top: 6.5em;
	}
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}



@media screen and (max-width: 375px) and (max-height: 812px){

	.frame__back {
    	top: 19em !important;
	}
	.menu-aside {
	    bottom: -7em !important;
	    top: unset !important;
	}

}

a {
	text-decoration: none;
	color: var(--color-link);
	
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: 0;
}


.frame {
	padding: 1rem;
	text-align: center;
	position: relative;
	z-index: 1000;
	grid-area: 1 / 1 / 2 / 2;
	align-self: start;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
}

.frame__links {
	display: inline;
}

.frame__github,
.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
	text-decoration: line-through;
	letter-spacing: 40px;
}

.frame__pagetitle {
	margin: 3rem 0 0 0;
}

.frame__pagetitle span {
	display: block;
	font-weight: normal;
	font-size: 0.85rem;
}

.frame__pagetitle span::before {
	content: '\2015   ';
}

.content {
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	isolation: isolate;
	z-index: 3;
}

.content__title {
	font-family: forma-djr-display, sans-serif;
	font-weight: 700;
	position: relative;
	z-index: 10000;
	font-size: 27vw;
	mix-blend-mode: var(--blendmode-title);
	-webkit-text-stroke: 2px var(--color-title);
	text-stroke: 2px var(--color-title);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	pointer-events: none;
}

.content__img {
	max-width: var(--img-maxwidth);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	will-change: transform;
	filter: var(--filter-img);
}

.content__img--full {
	width: 100%;
	height: 100%;
	background-size: cover;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center center;
}

@media screen and (min-width: 1900px) {

	.menu__container {
		z-index: 99;
	}

	.intro__90 {
	    bottom: 0;
	    /* padding: 0.8em; */
	    left: 1em;
	    width: 1em;
	    padding: 0;
	    position: absolute;
	    z-index: 95;
	    margin: 0;
	    display: inline-flex !important;
	    height: 100vh;
	    opacity: 1;
	    float: left;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
	    transition: transform 0.6s, opacity 0.6s;
	    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}

	.menu-aside {
	    margin-left: auto;
	    margin-right: auto;
	    text-align: center;
	    transform: rotate(-90deg) !important;
	    text-transform: uppercase;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    z-index: 99;
	    list-style: none;
	    width: 94vh;
	    position: absolute;
	    height: 1.8em;
	    left: -48vh !important;
	    padding: 0;
	}


	.menu-aside li {
	    margin: 0 auto;
	}

	.footer {
	    position: absolute;
	    bottom: 0.4em;
	    left: 0;
	    width: 100%;
	    padding-left: 14em;
	}

	.footer {
	    position: absolute;
	    bottom: 0.8em !important;
	    left: 0;
	    width: 100%;
	    padding-left: 21em !important;
	}


	.menu-aside li span {
	    font-size: 13.2px;
	    font-family: made_outer_sans !important;
	    font-weight: 400 !important;
	}

}

@media screen and (min-width: 53em) {
	:root {
		font-size: 18px;
	}
	body {
		overflow: hidden;
	}
	.message {
		display: none;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem 1rem;
		pointer-events: none;
		grid-template-columns: 75% 25%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'back github'
							'... ...'
							'title ...';
	}
	.frame__pagetitle {
		grid-area: pagetitle;
		margin: 0;
	}	
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.footer {
	    position: absolute;
	    bottom: 1em;
	    left: 0;
	    width: 100%;
	    padding-left: 15em;
	}
	.footer__section {
	    width: 23%;
	    height: 100%;
	    display: inline-block;
	}

	.large{
		width: 23%;
	}

	.footer__section h2 {
	    font-size: 0.85em;
	    margin: 0;
	    line-height: 18px;
	    text-transform: uppercase;
	    font-family:sans-serif;
	}

	.footer__section h3 {
	    font-size: 0.45em;
	    text-transform: uppercase;
	    font-family: made_outer_sans;
	    font-weight: 300;
	    margin: 3.5em 0 0.3em;
	}

	.footer__section span {
	    font-size: 0.65em;
	    margin: 0;
	    line-height: 13px;
	    display: block;
	    font-family: gotham;
	    font-weight: 400;
	}

	.frame__links {
		padding: 0;
		margin: 0 0 0 3rem;
		justify-self: end;
	}
	.frame__demos {
		margin: 0 0 0 3rem;
	}

	.frame__back{
		text-align: center;
	    margin: 0 auto;
	    position: absolute;
	    margin-right: auto;
	    font-size: 0.5em;
	    margin-left: auto;
	    display: block;
	    top: 2.2em;
	    right: 3px;
	    text-decoration: underline;
	    text-transform: uppercase;
	    font-family: made_outer_sans;
	    width: 15em;
	    left: 0;
	}

	.frame__back img {
	    width: 1.2em;
	    height: 1.2em;
	    margin-right: 0.4em;
	    position: relative;
	    top: 0.4em;
	}

	.frame__github {
		grid-area: github;
		justify-self: end;
		text-align: right;
	}
	
	.frame__github img {
		width: 6.4em;
    	position: relative;
    	top: -0.8em;
	}

	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		overflow: hidden;
	}
}


@media screen and (max-width: 1024px){
	.footer {
	    position: absolute;
	    bottom: 0.5em;
	    left: 0;
	    width: 100%;
	    padding-left: 10em;
	}

	.footer__section {
		width: 20%;
		height: 100%;
		display: inline-block;
	}

	.large {
	    width: 26%;
	}
	.frame__back img{
	    width: 10%;
	    position: relative;
	    top: 4px;
	    right: 3px;
	}
}

@media screen and (max-width: 1360px){
	.intro__90 {
	    width: 2.9em;
	}
}
